<html>
		<head>
				<title>
						Login Form
				</title>
		</head>
				<link rel="stylesheet" type="text/css" href="/static/dance.css">
				<body>
						<h1>Login Form</h1>
						<div class="loginbox">
						<img src="/static/img/login.png" class="login">
								<h2>Login Here</h2>
								<form>
										<p>Username</p>
										<input type="text" name="" placeholder="Enter Username">
										<p>Password</p>
										<input type="password" name="" placeholder="Enter password">
										<input type="submit" name="" value="Login">
										<a href="/password-reset">Forgot your password?</a><br>
										<a href="/signup">Don't have an account?</a>
								</form>
						</div>
				</body>
</html>
